body{
    background-color: black;
    color:rgb(17, 129, 154);
    margin:30px; 
    display:flex;
    flex-direction: column;
    padding:0;
    min-width:400px;
    align-items: center;
}

#about{
    background-color: rgb(55, 56, 57);
    border:5px ridge white;
    border-radius:10px;
    width:auto;
    padding:20px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#about > h1{
    margin:0;

}

#project-list{
    width:auto;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:0
}

#project-list > a{
    text-decoration: none;
}

@media screen and (max-width:1300px){
    .project-card{
        text-decoration: none;
        color: black;
        font-size:20px;
        display:flex;
        flex-direction:column;
        align-items:center;
        border:5px ridge grey;
        border-radius:25px;
        width:auto;
        height:auto;
        margin:50px 0px 25px 0px;
        background-color:whitesmoke
    }
    .project-card--middle{
        display:flex; 
        flex-direction:column;
        align-items:center;
        border:5px ridge grey;
        border-radius:25px;
        margin:50px 0px 25px 0px;
        background-color:whitesmoke;
        text-decoration: none;
        color: black;
        font-size:20px;
        width:auto;
        height:auto;
    }
    .project-card--middle--img{
        margin-top:30px;
        width:400px
    }
}

@media screen and (min-width:1301px){
    .project-card{
        text-decoration: none;
        color: black;
        font-size:20px;
        display:flex;
        align-items:flex-start;
        border:5px ridge grey;
        border-radius:25px;
        width:auto;
        height:auto;
        margin:50px 0px 25px 0px;
        background-color:whitesmoke
    }
    .project-card--middle{
        text-decoration: none;
        color: black;
        font-size:20px;
        display:flex;
        flex-direction:row-reverse;
        align-items:flex-start;
        border:5px ridge grey;
        border-radius:25px;
        width:auto;
        height:auto;
        margin:50px 0px 25px 0px;
        background-color:whitesmoke
    }
    .project-card--middle--img{
        margin-top:30px;
        margin-left:30px; 
        margin-right:0;
        min-width:200px;
        width:auto;
        height:auto;
        border-radius:20px;
        border-right:3px ridge grey;
        border-radius:20px;
    }
}

.project-card > img{
    margin-top:30px;
    width:auto;
    max-height:400px;
    border-radius:20px;
    border-right:3px ridge grey;
    border-radius:20px;
}

.project-card--details{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height: auto;
    width:auto;
    padding:10px;
}

.project-card--title{
    font-size:25px; 
    align-self: flex-start;
}

.project-card--tech{
    display:flex;
    justify-content: center;
    width:auto;
}